.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    flex-wrap: wrap;
}

.navbar-img img {
    width: 57px;
    height: 52px;
}

.navbar-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navbar-country,
.navbar-time,
.navbar-call {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-container a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
}

.gps,
.time,
.icon-call {
    color: #00a1f2;
    font-size: 20px;
    flex-shrink: 0;
}

.navbar-container span,
.down {
    color: #3CA7DB;
}

.call p {
    color: #656565;
    margin: 0;
    font-size: 14px;
}

.navbar-container button {
    border: none;
    padding: 12px 30px;
    background-color: #0391D3;
    color: white;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-container button:hover {
    background-color: #0271a5;
}


@media (max-width: 1024px) {
    .navbar-container {
        padding: 20px;
        gap: 20px;
    }

    .navbar-text {
        gap: 25px;
    }
}

@media (max-width: 768px) {
    .navbar-text {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .navbar-time,
    .navbar-country {
        display: none;
    }

    .navbar-container {
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    .navbar-container {
        padding: 15px;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .navbar-text {
        align-items: center;
    }

    .navbar-call {
        text-align: center;
    }

    .navbar-container button {
        width: 100%;
    }
}