.services {
    max-width: 1250px;
    margin: 80px auto;
    padding: 0 20px;
    text-align: center;
}

.services__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #333;
}

.services__container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.services__grid {
    display: flex;
    gap: 20px;
    flex: 1;
}

.services__subgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
}

.service-card {
    background: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.service-card2 {
    background: #F5F7F9;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.service-card--large {
    flex: 0 0 380px;
    box-shadow: 0px 10px 30px 0px #D4D4D4;
}

.service-card img {
    max-width: 100%;
    height: 150px;
    margin-bottom: 15px;
}

.service-card--large img {
    height: 280px;
}

.service-card p {
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

.arrow {
    background: none;
    border: none;
    font-size: 50px;
    color: #D1D1D1;
    cursor: pointer;
    transition: 0.2s;
}

.arrow:hover {
    color: #3CA7DB;
}


@media (max-width: 1024px) {
    .service-card--large {
        flex: 0 0 300px;
    }
}

@media (max-width: 850px) {
    .services__grid {
        flex-direction: column;
    }

    .service-card--large {
        flex: none;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .services__subgrid {
        grid-template-columns: 1fr;
    }

    .arrow {
        display: none;
    }
}